

/*-----------HEADER---------*/
header
{
	background-color: rgba(324,45,3,.4);
}
h3, 
{
	font-family: Garamond;
	margin: 0;
	padding: 5px;
}
/*--------------ADD---------*/
textarea
{
	width: 100%
}
.add
{
	margin-bottom: 25px
}
/*-------------LISTA---------*/
section
{
	margin-top: 5px
}

 ul
 {
 	padding: 12px
 }
li
{
	list-style: none;
	border: #E6E6E6 solid 5px;
	margin-top: 5px;
	padding: 10px
}

 #tachin
 {
 	color: red;
 	height: 100%
 }
 li span
 {
 	margin-left:5px
 }

