

/*-----------HEADER---------*/
header
{
	background-color: rgba(324,45,3,.4);
}
h4, 
{
	font-family: Garamond;
	margin: 0;
	padding: 5px;
}
/*--------------ADD---------*/
textarea
{
	width: 100%;
	border-radius: 15px;
	padding: 10px
}
.add
{
	margin-bottom: 25px
}
/*-------------LISTA---------*/
section
{
	margin-top: 5px
}

 ul
 {
 	padding: 12px
 }
li
{
	list-style: none;
	border: solid 5px;
	border-color: rgba(324,45,3,.2);
	margin-top: 5px;
	padding: 10px
}

 li span
 {
 	margin-left:5px
 }
 #tachin
 {
 	
 	color: red;
 	height: 100%
 }
